@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background: #343a40!important;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	box-shadow: 10px 5px 5px #000;
}
